{% extends "base_layout.html" %}
{% block content %}
    <form action="/hc_status" method="POST">

    <h2>UCS Credentials</h2>
    {{ form.csrf_token }}
    {{ form.ucs_hostname.label }} {{ form.ucs_hostname(size=20) }}<br>
    {{ form.ucs_username.label }} {{ form.ucs_username(size=20) }}<br>
    {{ form.ucs_password.label }} {{ form.ucs_password(size=20) }}<br>
    <br>
    <h2>vCenter Credentials</h2>
    {{ form.vc_hostname.label }} {{ form.vc_hostname(size=20) }}<br>
    {{ form.vc_username.label }} {{ form.vc_username(size=20) }}<br>
    {{ form.vc_password.label }} {{ form.vc_password(size=20) }}<br>

       <br><button type="submit" class="btn btn-primary btn-lg">Submit</button>

    </form>

{% endblock %}